%%%-------------------------------------------------------------------
%%% @author Evgeniy Khramtsov <ekhramtsov@process-one.net>
%%% @copyright (C) 2013, Evgeniy Khramtsov
%%% @doc
%%% Rebar build script. Compliant with rebar and rebar3.
%%% @end
%%% Created :  8 May 2013 by Evgeniy Khramtsov <ekhramtsov@process-one.net>
%%%-------------------------------------------------------------------

{erl_opts, [debug_info, {src_dirs, ["src"]}]}.
{port_env, [{"CFLAGS", "$CFLAGS"}, {"LDFLAGS", "$LDFLAGS"}]}.
{port_specs, [{"priv/lib/xml.so", ["c_src/xml.c"]},
              {"priv/lib/xml_stream.so", ["c_src/xml_stream.c"]}]}.

{deps, [{p1_utils, ".*", {git, "git://github.com/processone/p1_utils"}}]}.

{clean_files, ["c_src/xml.gcda", "c_src/xml.gcno", "c_src/xml_stream.gcda", "c_src/xml_stream.gcno"]}.

{cover_enabled, true}.
{cover_export_enabled, true}.

{xref_checks, [undefined_function_calls, undefined_functions, deprecated_function_calls, deprecated_functions]}.

{profiles, [{test, [{erl_opts, [{src_dirs, ["src", "test"]}]}]}]}.
{plugins, [rebar3_hex]}.

%% Local Variables:
%% mode: erlang
%% End:
%% vim: set filetype=erlang tabstop=8:
