{erl_opts, [debug_info]}.

{pre_hooks, [{compile, "./configure"}]}.

{port_env, [{"CFLAGS", "$CFLAGS -g -O2 -Wall"},
            {"LDFLAGS", "$LDFLAGS -lexpat"}]}.

{port_specs, [{"priv/lib/expat_erl.so", ["c_src/expat_erl.c"]},
              {"priv/lib/xml.so", ["c_src/xml.c"]}]}.

%% Local Variables:
%% mode: erlang
%% End:
%% vim: set filetype=erlang tabstop=8:
