%%%----------------------------------------------------------------------
%%% File    : rebar.config
%%% Author  : Evgeniy Khramtsov <ekhramtsov@process-one.net>
%%% Purpose : Rebar build script. Compliant with rebar and rebar3.
%%% Created : 8 May 2013 by Evgeniy Khramtsov <ekhramtsov@process-one.net>
%%%
%%% Copyright (C) 2002-2017 ProcessOne, SARL. All Rights Reserved.
%%%
%%% Licensed under the Apache License, Version 2.0 (the "License");
%%% you may not use this file except in compliance with the License.
%%% You may obtain a copy of the License at
%%%
%%%     http://www.apache.org/licenses/LICENSE-2.0
%%%
%%% Unless required by applicable law or agreed to in writing, software
%%% distributed under the License is distributed on an "AS IS" BASIS,
%%% WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
%%% See the License for the specific language governing permissions and
%%% limitations under the License.
%%%
%%%----------------------------------------------------------------------

{erl_opts, [debug_info,
            {src_dirs, ["src"]},
            {platform_define, "^(15|16|17|18)", 'HAVE_REMOTE_TYPES'},
            {platform_define, "^(15|16|17)", 'HAVE_FROM_FORM0'}]}.
{port_env, [{"CFLAGS", "$CFLAGS"}, {"LDFLAGS", "$LDFLAGS"},
            {"freebsd", "CFLAGS",  "$CFLAGS -I/usr/local/include"},
             {"freebsd","LDFLAGS", "$LDFLAGS -L/usr/local/lib"}]}.

{port_specs, [{"priv/lib/fxml.so", ["c_src/fxml.c"]},
              {"priv/lib/fxml_stream.so", ["c_src/fxml_stream.c"]}]}.

{deps, [{p1_utils, ".*", {git, "https://github.com/processone/p1_utils", {tag, "1.0.6"}}}]}.

{clean_files, ["c_src/fxml.gcda", "c_src/fxml.gcno", "c_src/fxml_stream.gcda", "c_src/fxml_stream.gcno"]}.

{cover_enabled, true}.
{cover_export_enabled, true}.

{xref_checks, [undefined_function_calls, undefined_functions, deprecated_function_calls, deprecated_functions]}.

{profiles, [{test, [{erl_opts, [{src_dirs, ["src", "test"]}]}]}]}.
{plugins, []}.

%% Local Variables:
%% mode: erlang
%% End:
%% vim: set filetype=erlang tabstop=8:
