name: CI

on: [push, pull_request]

jobs:

  tests:
    name: Tests
    strategy:
      fail-fast: false
      matrix:
        otp: [20, 25, 26, 27]
    runs-on: ubuntu-22.04
    container:
      image: erlang:${{ matrix.otp }}
    steps:
    - uses: actions/checkout@v4
    - run: sed -i 's|p1_utils|p1_utils, syntax_tools, compiler, dialyzer|g' src/fast_xml.app.src
    - run: ./configure
    - run: make
    - run: rebar3 compile
    - run: rebar3 xref
    - run: rebar3 dialyzer
    - run: rebar3 eunit -v
      if: matrix.otp >= 24

  cover:
    name: Cover
    needs: [tests]
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v4
    - run: ./configure --enable-gcov
    - run: rebar3 compile
    - run: rebar3 eunit -v
    - run: rebar3 eunit -v
    - run: pip install --user cpp-coveralls
    - run: cpp-coveralls -b `pwd` --verbose --gcov-options '\-lp' --dump c.json
    - name: Send to Coveralls
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        ADDJSONFILE=c.json COVERALLS=true rebar3 as test coveralls send
        curl -v -k https://coveralls.io/webhook \
             --header "Content-Type: application/json" \
             --data '{"repo_name":"$GITHUB_REPOSITORY",
                      "repo_token":"$GITHUB_TOKEN",
                      "payload":{"build_num":$GITHUB_RUN_ID,
                                 "status":"done"}}'
